.sponsors_container {
    background: rgb(239, 238, 238);
    max-width: 100%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sponsor_logo {
    text-decoration: none;
    max-width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
