* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    max-width:fit-content;
}

.carousel img {
    height: 500px;
    object-fit: cover;
    opacity: 0.7;
}

.carousel {
    background: rgba(46, 65, 107, 0.85);
}
.carousel .carousel-caption {
    text-align: center;
    align-items: center;
    margin: 200px auto;
    color: white;
    font-size: 30px;
    font-weight: 800;
}
.carousel-caption a {
    text-decoration: none;
    color: white;
}
.carousel-caption p {
    padding-top: 40px;
}
.carousel-control-prev,
.carousel-control-next {
    margin: auto 10px;
}

/* ////////////////////////box////////////////// */
.box {
    background-image: url(/Images/Slider\ 3.jpg);
    width: 100%;
    height: 300px;
    object-fit: center;
    object-position: center;
    opacity: 0.9;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.links a {
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.box h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
}

/* /////////////button//////////// */








